body {
	background: #45485e url('images/body-bg.png') repeat-x fixed;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}
#container {

	background-color:white;
	max-width: 1200px;
	width:100%;
	height:100%;	
	overflow:hidden;
		
	margin: 45px auto;
	background: #3f372c;
	border: 3px solid #a29f9b;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 10px #1b1c25;
	-webkit-box-shadow: 0 0 10px #1b1c25;
	box-shadow: 0 0 10px #1b1c25;
	}

#main-content{
	margin: 0px auto;
	background-color:white;
	max-width: 1200px;
	width:100%;
	height:100%;	
	overflow:hidden;
		
	}
	
	
#leftdiv{
	float:left;
	margin-left:15px;
	height:58%;
	width:40%;
	margin-bottom:10px;
	background-color:#FFF;
	text-align:center;
}

#middiv{
	float:left;
	height:58%;
	width:10%;
	margin-left:10px;
	background-color:#FBFBFB;
}

#rigthdiv{
	float:left;
	width:45%;
	height:58%;
	margin-left:20px;
	margin-bottom:10px;
	background-color:#FFF;
}

.prodinfo{
	float:left;
	width:90%;
	height:17%;
	margin-left:5%;
	margin-top:4%;
	background-color:#FBFBFB;
}

.textformatting{
	padding-left:4%;
	text-align:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
}

#details{
	float:left;
	width:90%;
	height:33%;
	margin-left:5%;
	margin-top:4%;
	background-color:#FBFBFB;
}

#description{
	float:left;
	width:95%;
	margin-right:2%;
	margin-top:10px;
	margin-bottom:10px;
	height:37%;
	background-color:#FBFBFB;
}	
	
#header {
	background: #45485e url('images/header-back.png');
	height:150px;
	width:100%;
	margin:auto;
	margin-bottom:0px;
	
	}
#breadcrumb {
	height:15px;
	font-size:12px;
	float:left;
	width:100%;
	margin: 0px;
	padding:10px;
	background-color:white;
	}

#fullpackage {
	margin-left:120px;
	height:550px;
	width:665px;
	background-color: darkgrey;
	float:left;
	}	
#newproducts {
	margin-left: 60px;
	margin-right:55px;
	height:550px;
	width:300px;
	background-color: lightblue;
	float:left;	
	
	}
#categories {
    height:160px;
    width:100%;
    background-color:white;
    float:left;
    margin-top:10px;
    }
#kites {
	height:160px;
	width:160px;
	margin-left:120px;
	margin-bottom: 10px;
	float:left;
	}
#boards {
	height:160px;
	width:160px;
	margin-left:55px;
	margin-bottom: 10px;
	float:left;
	}
#accessories {
	height:160px;
	width:160px;
	margin-left:55px;
	margin-bottom:10px;
	float:left;
	}
#footer {
	height: 60px;
	width: 665px;
	background-color:white;
	float: left;
	margin-left:275px;
	margin-top:10px;
	margin-bottom:10px;
	}

.image {
    height:50px;
    width:50px;
    }
    
#productText {
    height:700px;
    width:900px;
    background-color:white;
    margin:auto;    
    padding:20px; 
    }
#productImage {
    height:250px;
    width:250px;
    float:right;
    }
 
.product {
    height:160px;
    width:100%;
    border-top-style:solid;
    background-color:white;
    float:left;
    }
    
.prodthumb {
    float:right;
    margin-right:20px;
    }
