body {
	background-color:#99CBFF;
	}
#container {
	margin: auto;
	background-color:grey;
	max-width: 1200px;
	width:100%;
	height:100%;	
	overflow:hidden;
	}
	
#header {
	height:190px;
	width:100%;
	background-color:lightgrey;
	margin:auto;
	margin-bottom:10px;
	}
#breadcrumb {
	height:15px;
	font-size:10px;
	float:left;
	width:100%;
	margin-bottom:10px;
	padding-left:10px;
    background-color:grey;
	}

#fullpackage {
	margin-left:120px;
	height:500px;
	width:665px;
	background-color: darkgrey;
	float:left;
	}	
#newproducts {
	margin-left: 60px;
	margin-right:55px;
	height:500px;
	width:300px;
	background-color: lightblue;
	float:left;	
	
	}
#kites {
	height:345px;
	width:300px;
	background-color: lightblue;
	margin-left:120px;
	margin-top:10px;
	margin-bottom: 10px;
	float:left;
	}
#boards {
	height:200px;
	width:300px;
	background-color: lightblue;
	margin-left:65px;
	margin-top:10px;
	margin-bottom: 10px;
	float:left;
	}
#accessories {
	height:200px;
	width:300px;
	background-color: lightblue;
	margin-left:60px;
	margin-top:10px;
	margin-bottom:10px;
	margin-right:55px;
	float:left;
	}
#footer {
	height: 60px;
	width: 665px;
	background-color:white;
	float: left;
	margin-left:275px;
	margin-top:10px;
	margin-bottom:10px;
	}

.image {
    height:50px;
    width:50px;
    }
    
#productText {
    height:700px;
    width:900px;
    background-color:white;
    margin:auto;
    
    padding:20px;
    }
#productImage {
    height:250px;
    width:250px;
    float:right;
    background-color:green;
    }
 
.product {
    height:300px;
    width:300px;
    margin:20px;
    background-color:lightgrey;
    float:left;
    }
