body {
	background-color:#99CBFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}
#container {
	margin: auto;
	background-color:white;
	max-width: 1200px;
	width:100%;
	height:100%;	
	overflow:hidden;
	}
	
#header {
	height:190px;
	width:100%;
	background-color:lightgrey;
	margin:auto;
	margin-bottom:10px;
	}
#breadcrumb {
	height:15px;
	font-size:16px;
	float:left;
	width:100%;
	margin-bottom:10px;
	padding-left:10px;
    background-color:white;
	}

#fullpackage {
	margin-left:120px;
	height:400px;
	width:665px;
	background-color: darkgrey;
	float:left;
	}	
#newproducts {
	margin-left: 60px;
	margin-right:55px;
	height:400px;
	width:300px;
	background-color: lightblue;
	float:left;	
	
	}
#categories {
    height:160px;
    width:100%;
    background-color:white;
    float:left;
    margin-top:10px;
    }
#kites {
	height:160px;
	width:160px;
	margin-left:120px;
	margin-bottom: 10px;
	float:left;
	}
#boards {
	height:160px;
	width:160px;
	margin-left:55px;
	margin-bottom: 10px;
	float:left;
	}
#accessories {
	height:160px;
	width:160px;
	margin-left:55px;
	margin-bottom:10px;
	float:left;
	}
#footer {
	height: 60px;
	width: 665px;
	background-color:white;
	float: left;
	margin-left:275px;
	margin-top:10px;
	margin-bottom:10px;
	}

.image {
    height:50px;
    width:50px;
    }
    
#productText {
    height:700px;
    width:900px;
    background-color:white;
    margin:auto;    
    padding:20px; 
    }
#productImage {
    height:250px;
    width:250px;
    float:right;
    background-color:green;
    }
 
.product {
    height:160px;
    width:100%;
    border-top-style:solid;
    background-color:white;
    float:left;
    }
    
.prodthumb {
    float:right;
    margin-right:20px;
    }
